.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.join-chat {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.chat-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.chat-window {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 300px;
  height: 500px;
}

.chat-message {
  margin-top: 10px;
}

.chat-body {
  display: flex;
  flex-direction: column;
}

.individual-message {
  border-top: 1px solid grey;
}

.chat-header {
  background-color: salmon;
}
